
.App{
  display: flex;
  position: relative;
}

.cards-container{
  display: flex;
  flex-direction: column;
}

.card{
  border: 2px solid black;
  border-radius: 8px;
  width: 375px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.card-image{
  width: 280px;
  height: 175px;
}

.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}


.navbar{
  width: 300px;
  height: 100vh;
  border-right: 3px solid black ;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 25px;
  align-items: flex-start;
  gap: 20px;
}

/* show saved homes button */
.saved-homes-button{
  height: 100px;
  display: flex;
  align-items: center;

}

.saved-homes-button > button {
  padding: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 22px;
}

/* heart button to save the homes */
.save-homes-button{
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: flex-end;
}

.save-homes-button:hover{
  cursor: pointer;
  opacity: .7;
}

.modal-background{position:fixed; inset: 0;}
.modal-background{
	background: rgba(0, 0, 0, 0.3);
	/* outline: 5000px rgba(0, 0, 0, 0.3) solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  background-color: white;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-card-container{
  display: flex;
  gap: 10px;
}

.card p {
  text-align: center;
}

.hidden{
  display: none;
}

.link{
  text-decoration: none;
  color: red;
}

.navbar a{
  font-size: 30px;
  text-decoration: none;
  color: black;
}




.navbar a.current-link{
    color: orange;
    text-decoration: none;
}